<template>
    <div>
        <div class="greeting">Hello {{name}}{{exclamationMarks}}</div>
        <button @click="decrement">-</button>
        <button @click="increment">+</button>
    </div>
</template>

<style scoped>
.greeting {
    font-size: 20px;
}
</style>

<script lang="ts">
import Vue from 'vue';
import abc from './test';

export default Vue.extend({
    props: ['name', 'initialEnthusiasm'],
    data() {
        return {
            enthusiasm: this.initialEnthusiasm + abc(),
        }
    },
    methods: {
        increment() {
            this.enthusiasm++;
            this.$store.dispatch('addAction', {'a': 'b'});
        },
        decrement() {
            this.$store.commit('remove', {'x': 'y'});
            if (this.enthusiasm > 1) {
                this.enthusiasm--;
            }
        },
    },
    computed: {
        exclamationMarks(): string {
            return Array(this.enthusiasm + 1).join('!');
        }
    }
});
</script>
